HELP.md
backend/target
backend/target/classes/com/coderscampus/StudentClearanceSystem/*/*
backend/target/classes/application.properties
backend/target/classes/com/coderscampus/StudentClearanceSystem/config/AppConfig.class

!./backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


backend/.env




### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
#### react ####
/frontend/build
/frontend/node_modules
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
