.cards{
    margin-left:20%;
    margin-right:5%;
    margin-top: 3rem;
   }
   
    .card_text{
   p{
    font-size:2rem;
   }
   }
   .btn{
     font-size:2rem !important;
   }
   .card_title{
   font-size:1.7rem !important;
   font-weight:bold !important;
   }

   .registrarTitle {
    margin-left: 30rem !important; // Add !important if necessary
    margin-top: 9rem;
  
  }
 
  
   