// Sidebar container styling
.sidebar {
  position: fixed;
  top: 80px; // Start right below the header
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #051729;
  color: #ffffff;
  padding-top: 1rem;
  z-index: 10;
  
  transform: translateX(-100%); // Sidebar hidden by default on small screens
  transition: transform 0.3s ease;

  &.show {
    transform: translateX(0); // Show sidebar on smaller screens when toggled
  }

  @media (min-width: 768px) {
    transform: translateX(0); // Sidebar visible by default on larger screens
  }
}

.ul {
  list-style: none;
  background: #051729;
}

// Close icon for the sidebar, only shown on mobile
.closeIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: #ffffff;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}

// Top header section styling
.topHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  width: 100%;
  background-color: #051729;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 15;

  .logoSection {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      color: #ff7722;
      font-weight: bold;
      font-size: 2.9rem;

      img {
        width: 140px;
        height: 80px;
        margin-right: 10px;
      }

      span {
        color: #ffffff;

        span {
          color: #ff7722;
        }
      }
    }
  }

  .userSection {
    display: flex;
    align-items: center;
    gap: 15px;

    .userGreeting {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
    }

    .logoutLink {
      color: #ff7722;
      text-decoration: none;
      font-size: 1.7rem;
      &:hover {
        text-decoration: underline;
      }
    }

    .menuIcon {
      cursor: pointer;
      color: #ffffff;
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }
}

.homeLink {
  color: #ffffff;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    color: #ff7722;
  }
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 1.9rem;
  cursor: pointer;
  background: #051729 !important;
  outline: none !important;
  border: none;
  height: 50px;
  transition: color 0.3s ease;

  &:hover {
    color: #ff7722;
  }

  &.active {
    color: #ff7722;
  }
}

.subMenu {
  list-style: none;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  z-index: 5;
  position: relative;

  .navLink {
    padding: 8px 20px;
    font-size: 1.7rem;
    background: none !important;
    outline: none;
    border: none;

    &:hover {
      color: #ff7722;
    }
  }
}

// Main content wrapper to shift content when sidebar is visible
.mainContentWrapper {
  margin-left: 0; // No margin by default
  transition: margin-left 0.3s ease;

  @media (min-width: 768px) {
    margin-left: 250px; // Shift content right when sidebar is visible
  }
}

@media screen and (max-width: 700px) {
  img {
    display: none;
  }
  span {
    font-size: 2rem;
  }
}
